* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Inter-ExtraBold';
    src: url('fonts/Inter18pt-ExtraBold.woff2');
}
@font-face {
    font-family: 'Inter-SemiBold';
    src: url('fonts/Inter_18pt-SemiBold.ttf');

}
@font-face {
    font-family: 'Inter-Regular';
    src: url('fonts/Inter_18pt-Regular.ttf');
}
@font-face {
    font-family: 'Inter-Bold';
    src: url('fonts/Inter18pt-Bold.woff2');
}
@font-face {
    font-family: 'Inter-Medium';
    src: url('fonts/Inter_18pt-Medium.ttf');
}
body {
    height: 100vh;
    font-family: 'Inter';
    background-color: #FDFBFA;
    box-sizing: border-box;
}
main.content {
    max-width: 1366px;
    margin: 0 auto;


}
:root {
    --Gray-Light: #E3E2E2;
    --Text-Black: #202020;
    --Thai-Yellow: #FFCD1D;
    --Gray-Medium: #C9C9C9;
    --Thai-Orange: #FE8505;
    --White: #FFFFFF;
    --Warm-Grey-Medium: #F7F4F0;
    --Yellow: #FFFF00;
    --Wine-Velvet: #AD1519;
    --Moonlit-Silve: #D9D9D9 ;
    --Sunshine-Burst: #FFFF00 ;
    --Harvest-Gold: #C8B100 ;


    --select-icon-size: 16px; /* Icon size */
    --select-icon-margin: 1rem; /* Icon left/right positioning */
    --select-text-icon-gap: 0.5rem; /* Space between text and icon */

    --Inter-Bold: 'Inter-Bold';
    --Inter-Regular: 'Inter-Regular';
    --Inter-SemiBold: 'Inter-SemiBold';
    --Inter-ExtraBold: 'Inter-ExtraBold';
    --Inter-Medium: 'Inter-Medium';
}

header {
    padding-inline: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid var(--Moonlit-Silve);

    height: 56px;

    font-size: 14px;

    max-width: 1366px;
    margin: 0 auto;
    background-color: #fff;
    
    position: relative;
}

header nav ul.menu{
    display: flex;
    list-style: none;
    column-gap: 8px;
    align-items: center;
}
header nav ul.menu a {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: -0.5%;
    color: var(--Text-Black);
    font-family: var(--Inter-Regular);
}
header button.services {
    cursor: pointer;
    display: flex;
    width: 109px;
    margin-left: 60px;
    height: 36px;
    align-items: center;
    justify-content: space-between;
    border: 1px var(--Gray-Medium) solid;
    background-color: transparent;
    border-radius: 8px;
    padding: 12px 9px;
    font-size: 14px;
    font-family: var(--Inter-SemiBold);
    color: var(--Thai-Orange);
    letter-spacing: -0.5%;
}
header button.services  .box{
    display: grid;
    width: 22px;
    height: 22px;
    grid-template-columns: repeat(2, 1fr);
}
header button.services .box div {
    width: 8px;
    height: 8px;
    background-color: var(--Thai-Orange);
    border-radius: 2px;
}
header label {
    width: 353px;
    border: 1px solid var(--Gray-Medium);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: text;
    padding:  6px 18px;

}
header label button {
    width: 24px;
    aspect-ratio: 1;

    background-image: url('icons/search.svg');
    border: none;
 
    background-color: transparent;
}
header label input {
    border: none;
    padding-left: 8px;
}
header label input:focus {
    outline: none;
}
header ul.ending {
    display: flex;
    gap: 10px;
}
header ul.ending button {
    border-radius: 8px;
    font-size: 14px;
    letter-spacing: -0.5%;

    font-family: var(--Inter-SemiBold);

    height: 36px;
    padding: 9px 12px ;

    cursor: pointer;
}
header ul.ending button:first-child {

    background-color: var(--Gray-Light);
    color: var(--Text-Black);
    border: 1px var(--Gray-Medium);
    width: 97px;
}
header ul.ending button:last-child {
    background-color: var(--Thai-Orange);
    color: var(--White);
    border: none;
}
header .center {
    display: flex;
    gap: 20px;
    align-items: center;
}
header .buttonMenu {
    max-width: 269px;
    max-height: 379px;
    border-radius: 10px;
    padding: 22px 20px;
    width: 100%;
    background-color:var(--White);
    border: 1px solid var(--Gray-Medium);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    row-gap: 21px;
    position: absolute;
    left: 70%;
    bottom: -380px;

}
header .buttonMenu .top {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
header .buttonMenu .top p {
    font-size: 14px;
    font-family: var(--Inter-ExtraBold);
    margin: 0;
    color: var(--Text-Black);
}
header .buttonMenu .top button#buttonCloseMenu {
    background-color: var(--Warm-Grey-Medium);
    width: 22px;
    height: 22px;
    border-radius: 50px;
    border: none;
    position: relative;
    cursor: pointer;
 }
header .buttonMenu .top button#buttonCloseMenu::before {
    content: '';
    width: 13px;
    top: 50%;


    background-color: var(--Text-Black);
    rotate: 45deg;
    left: 25%;
    height: 1px;
    position: absolute;
    border: 1px var(--Text-Black) solid;
    border-radius: 10px;
}
header .buttonMenu .top button#buttonCloseMenu::after {
    content: '';
    width: 13px;
    position: absolute;
    top: 50%;
    rotate: -45deg;
    left: 25%;

    background-color: var(--Text-Black);
    height: 1px;
    border: 1px var(--Text-Black) solid;
    border-radius: 10px;

}
.hidden {
    visibility: hidden;
}
header .buttonMenu .icons-list {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
header .buttonMenu .icons-list li {
    width: 36px;
    height: 36px;

}
header .buttonMenu .icons-list li:nth-child(1) {
    background-image: url('images/header/vk.png');
}
header .buttonMenu .icons-list li:nth-child(2) {
    background-image: url('images/header/telegram.png');
}
header .buttonMenu .icons-list li:nth-child(3) {
    background-image: url('images/header/facebook.png');
}
header .buttonMenu .icons-list li:nth-child(4) {
    background-image: url('images/header/google.png');
}

header .buttonMenu form.middle {
    display: flex;
    row-gap: 9px;
    width: 100%;
    flex-direction: column;
}
header .buttonMenu form.middle input {
    width: 100%;
    padding: 12px 0;
    border-radius: 9px;
    border: 1px solid var(--Moonlit-Silve);
    padding-left: 8px;
}
header .buttonMenu form.middle input::placeholder {
    font-size: 13px;
    color: var(--Text-Black);
    font-family: var(--Inter-Regular);
} 
header .buttonMenu .buttonText {
    width: 100%;

}
header .buttonMenu .buttonText button {
    width: 100%;
    padding: 12px 9px;
    background-color: var(--Thai-Orange);
    color: var(--White);
    border-radius: 8px;
    border: none;
    font-size: 14px;
    font-family: var(--Inter-SemiBold);
    margin-bottom: 10px;
}
header .buttonMenu .buttonText a {
    color: #0062DA;
    font-size: 12px;
    font-family: var(--Inter-Regular);
    text-decoration: none;

}
header .buttonMenu button#buttonRegistr {
    width: 100%;
    border: 1px solid var(--Gray-Medium);
    border-radius: 8px;
    padding: 12px 9px;
    color: var(--Text-Black);
    font-size: 14px;
    font-family: var(--Inter-SemiBold);

}


section.links {
    width: 100%;
    padding: 22px 22px;
    background-color: var(--Warm-Grey-Medium);
}
section.links .container {
    width: 100%;
    display: flex;
    height: 172px;
    justify-content: space-between;
}
section.links .container .box {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
section.links .container .box h1 {
    font-family: var(--Inter-Bold);
    font-size: 16px;
    color: var(--Text-Black);
}
section.links .container .box ul.links {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    list-style: none;
}
section.links .container .box ul.links a {
    text-decoration: none;
    color: var(--Text-Black);
    font-family: var(--Inter-Regular);
    font-size: 14px;
}
section.links .container .box ul.links a.active {
    color: #FF8F01;
    font-size: 14px;
    font-family: var(--Inter-Regular);
}

/* section.banner */
section.banner {
    width: 100%;   

    padding: 20px 40px;
    height: 491px;
    display: flex;
    
    position: relative;
    align-items: end;

    background-color: var(--Moonlit-Silve);
}

/* section.banner::before {
    content: '';
    width: 100%;
    background-image: url('images/banner/1.png');
    height: 491px;

    background-position: center center;
    flex-shrink: 0;
    position: absolute;
    transform: scaleX(-1);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
} */

section.banner .box {
    max-width: 350px;
    text-align: left;
    color: var(--White);
    transform: scaleX(1);
}
section.banner .box h2 {
    font-family: var(--Inter-ExtraBold);
    font-size: 42px;
}
section.banner .box p {
    font-family: var(--Inter-Medium);
    font-size: 24px;
}